build/
bin-debug/
bin-release-temp/
bin/
*.pbxuser
*.mode1v3
test-reports/*
.DS_Store
xcuserdata/
DerivedData/
*.iml
*.ipr
*.iws
.idea
target
tmp
*.log
out
.gradle
gradle
bin
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
